.react-fiction-story {
  width: 800px;
  margin: 0 auto;
  font-family: 'Georgia', serif;
}

.react-fiction-passage {
  font-size: 20px;
}

.react-fiction-link {
  font-family: 'Georgia', serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #4169e1;
  transition: color .2s ease-in-out;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.react-fiction-link.visited {
  color: #6941e1;
}

.react-fiction-link:hover {
  color: #00bfff;;
}
